<style>
  /* Loader CSS */
  #loader-container {
    position: fixed;
    top: 0; 
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9999; /* Para matakpan lahat */
    transition: opacity 0.8s ease;
  }

  #loader-container .nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #fff;
    text-align: center;
    padding: 0 2em;
    position: relative;
    z-index: 2;
  }

  #loader-container .loader {
    font-size: 2vw;
    letter-spacing: 0.7em;
    font-family: "ROBOTO", sans-serif;
    font-weight: 400;
    color: #faebd7;
    z-index: 4;
  }

  /* Loader Letter Animation */
  #loader-container .loader span {
    color: #faebd7;
    text-shadow: 0 0 0 #faebd7;
    animation: loading 1s ease-in-out infinite alternate;
    -webkit-animation: loading 1s ease-in-out infinite alternate;
  }

  @keyframes loading {
  to {
    text-shadow: 20px 0 70px var(--bs-primary);
    color: var(--bs-primary);
  }
}

@-webkit-keyframes loading {
  to {
    text-shadow: 20px 0 70px var(--bs-primary);
    color: var(--bs-primary);
  }
}


  #loader-container .loader span:nth-child(2)  { animation-delay: 0.03s; }
  #loader-container .loader span:nth-child(3)  { animation-delay: 0.06s; }
  #loader-container .loader span:nth-child(4)  { animation-delay: 0.09s; }
  #loader-container .loader span:nth-child(5)  { animation-delay: 0.12s; }
  #loader-container .loader span:nth-child(6)  { animation-delay: 0.15s; }
  #loader-container .loader span:nth-child(7)  { animation-delay: 0.18s; }
  #loader-container .loader span:nth-child(8)  { animation-delay: 0.21s; }
  #loader-container .loader span:nth-child(9)  { animation-delay: 0.24s; }
  #loader-container .loader span:nth-child(10) { animation-delay: 0.27s; }
</style>

<div id="loader-container">
  <section class="nav">
    <h3 class="loader">
      <span class="m">R</span><span class="m">E</span><span class="m">S</span><span class="m">T</span><span class="m">A</span><span class="m">U</span><span class="m">R</span><span class="m">A</span><span class="m">N</span><span class="m">T</span>
    </h3>
  </section>
</div>

<script>
  // Loader fade-out effect
  window.addEventListener('load', function() {
    setTimeout(function(){
      var loader = document.getElementById('loader-container');
      loader.style.opacity = '0';
      setTimeout(function(){
        loader.style.display = 'none';
      }, 800); // fade-out duration
    }, 500); // delay for loader animation
  });
</script>
