<%- include ('partial/header'); -%>

<!-- Main Container -->
<main id="main-container">
  <!-- Page Content -->
  <div class="content">
    <!-- Bank Accounts -->
    <div class="row">
      <div class="col-lg-9">
        <!-- Bank Account #2 -->
        <a
          class="block block-rounded block-link-shadow"
          href="javascript:void(0)"
        >
          <div
            class="block-content block-content-full ribbon ribbon-dark ribbon-modern ribbon-primary"
          >
            <!-- <div class="ribbon-box">0.00</div> -->
            <div class="row block-content">
              <div class="col-lg-3 text-center">
                <p class="fs-sm fw-semibold mb-0">
                  <span class="text-default">Working Chip</span>
                </p>
                <p class="text-muted mb-0">0.00</p>
              </div>
              <div class="col-lg-3 text-center">
                <p class="fs-sm fw-semibold mb-0">
                  <span class="text-default">Balance Discrepancy</span>
                </p>
                <p class="text-muted mb-0">0.00</p>
              </div>
              <div class="col-lg-3 text-center">
                <p class="fs-sm fw-semibold mb-0">
                  <span class="text-default">W/L Discrepancy</span>
                </p>
                <p class="text-muted mb-0">0.00</p>
              </div>
              <div class="col-lg-3 text-center">
                <p class="fs-sm fw-semibold mb-0">
                  <span class="text-default">Rolling Discrepancy</span>
                </p>
                <p class="text-muted mb-0">0.00</p>
              </div>
            </div>
          </div>
          <div
            class="block-content block-content-full block-content-sm text-center bg-body-light"
          >
            <span class="text-default">Balance Checker</span>
          </div>
        </a>
      </div>
      <!-- END Bank Account #2 -->

      <div class="col-lg-3">
        <!-- Bank Account #2 -->
        <a
          class="block block-rounded block-link-shadow"
          href="javascript:void(0)"
        >
          <div
            class="block-content block-content-full ribbon ribbon-dark ribbon-modern ribbon-primary"
          >
            <div class="ribbon-box">0.00</div>
            <div class="row block-content">
              <div class="col-lg-12 text-center">
                <p class="fs-sm fw-semibold mb-0">
                  <span class="text-default">Total House Expense</span>
                </p>
                <p class="text-muted mb-0">0.00</p>
              </div>
            </div>
          </div>
          <div
            class="block-content block-content-full block-content-sm text-center bg-body-light"
          >
            <span class="text-default">House Expense</span>
          </div>
        </a>
      </div>
    </div>
    <!-- END Bank Accounts -->

    <div class="row">
      <!-- C&C System -->
      <div class="col-lg-6">
        <a
          class="block block-rounded block-link-shadow"
          href="javascript:void(0)"
        >
          <div
            class="block-content block-content-full ribbon ribbon-dark ribbon-modern ribbon-primary"
          >
            <div class="ribbon-box">0.00</div>
            <div class="row block-content">
              <div class="col-lg-4 text-center">
                <p class="fs-sm fw-semibold mb-0">
                  <span class="text-default">Cash Balance</span>
                </p>
                <p class="text-muted mb-0">0.00</p>
              </div>
              <div class="col-lg-4 text-center">
                <p class="fs-sm fw-semibold mb-0">
                  <span class="text-default">CC Balance</span>
                </p>
                <p class="text-muted mb-0">0.00</p>
              </div>
              <div class="col-lg-4 text-center">
                <p class="fs-sm fw-semibold mb-0">
                  <span class="text-default">NN Balance</span>
                </p>
                <p class="text-muted mb-0">0.00</p>
              </div>
            </div>
          </div>
          <div
            class="block-content block-content-full block-content-sm text-center bg-body-light"
          >
            <span class="text-default">Cash and Chip Balance (System)</span>
          </div>
        </a>
      </div>
      <!-- End C&C System -->

      <!-- C&C Actual -->
      <div class="col-lg-6">
        <a
          class="block block-rounded block-link-shadow"
          href="javascript:void(0)"
        >
          <div
            class="block-content block-content-full ribbon ribbon-dark ribbon-modern ribbon-primary"
          >
            <div class="ribbon-box">0.00</div>
            <div class="row block-content">
              <div class="col-lg-4 text-center">
                <p class="fs-sm fw-semibold mb-0">
                  <span class="text-default">Cash Balance</span>
                </p>
                <p class="text-muted mb-0">0.00</p>
              </div>
              <div class="col-lg-4 text-center">
                <p class="fs-sm fw-semibold mb-0">
                  <span class="text-default">CC Balance</span>
                </p>
                <p class="text-muted mb-0">0.00</p>
              </div>
              <div class="col-lg-4 text-center">
                <p class="fs-sm fw-semibold mb-0">
                  <span class="text-default">NN Balance</span>
                </p>
                <p class="text-muted mb-0">0.00</p>
              </div>
            </div>
          </div>
          <div
            class="block-content block-content-full block-content-sm text-center bg-body-light"
          >
            <span class="text-default">Cash and Chip (Actual)</span>
          </div>
        </a>
      </div>
      <!-- End C&C System -->
    </div>

    <div class="row">
      <div class="col-lg-3">
        <a
          class="block block-rounded block-link-shadow"
          href="javascript:void(0)"
        >
          <div
            class="block-content block-content-full ribbon ribbon-dark ribbon-modern ribbon-primary"
          >
            <div class="ribbon-box">0.00</div>
            <div class="row block-content">
              <div class="col-lg-6 text-center">
                <p class="fs-sm fw-semibold mb-0">
                  <span class="text-default">Capital In</span>
                </p>
                <p class="text-muted mb-0">0.00</p>
              </div>
              <div class="col-lg-6 text-center">
                <p class="fs-sm fw-semibold mb-0">
                  <span class="text-default">Capital Out</span>
                </p>
                <p class="text-muted mb-0">0.00</p>
              </div>
            </div>
          </div>
          <div
            class="block-content block-content-full block-content-sm text-center bg-body-light"
          >
            <span class="text-default">Junket Capital</span>
          </div>
        </a>
      </div>

      <div class="col-lg-3">
        <a
          class="block block-rounded block-link-shadow"
          href="javascript:void(0)"
        >
          <div
            class="block-content block-content-full ribbon ribbon-dark ribbon-modern ribbon-primary"
          >
            <div class="ribbon-box">0.00</div>
            <div class="row block-content">
              <div class="col-lg-6 text-center">
                <p class="fs-sm fw-semibold mb-0">
                  <span class="text-default">Total Deposit</span>
                </p>
                <p class="text-muted mb-0">0.00</p>
              </div>
              <div class="col-lg-6 text-center">
                <p class="fs-sm fw-semibold mb-0">
                  <span class="text-default">Total Withdraw</span>
                </p>
                <p class="text-muted mb-0">0.00</p>
              </div>
            </div>
          </div>
          <div
            class="block-content block-content-full block-content-sm text-center bg-body-light"
          >
            <span class="text-default">Account Transaction</span>
          </div>
        </a>
      </div>

      <div class="col-lg-3">
        <a
          class="block block-rounded block-link-shadow"
          href="javascript:void(0)"
        >
          <div
            class="block-content block-content-full ribbon ribbon-dark ribbon-modern ribbon-primary"
          >
            <div class="ribbon-box">0.00</div>
            <div class="row block-content">
              <div class="col-lg-6 text-center">
                <p class="fs-sm fw-semibold mb-0">
                  <span class="text-default">Buy In</span>
                </p>
                <p class="text-muted mb-0">0.00</p>
              </div>
              <div class="col-lg-6 text-center">
                <p class="fs-sm fw-semibold mb-0">
                  <span class="text-default">Buy Out</span>
                </p>
                <p class="text-muted mb-0">0.00</p>
              </div>
            </div>
          </div>
          <div
            class="block-content block-content-full block-content-sm text-center bg-body-light"
          >
            <span class="text-default">Main Cage Transaction</span>
          </div>
        </a>
      </div>

      <div class="col-lg-3">
        <a
          class="block block-rounded block-link-shadow"
          href="javascript:void(0)"
        >
          <div
            class="block-content block-content-full ribbon ribbon-dark ribbon-modern ribbon-primary"
          >
            <div class="ribbon-box">0.00</div>
            <div class="row block-content">
              <div class="col-lg-6 text-center">
                <p class="fs-sm fw-semibold mb-0">
                  <span class="text-default">Buy In</span>
                </p>
                <p class="text-muted mb-0">0.00</p>
              </div>
              <div class="col-lg-6 text-center">
                <p class="fs-sm fw-semibold mb-0">
                  <span class="text-default">Buy Out</span>
                </p>
                <p class="text-muted mb-0">0.00</p>
              </div>
              <!-- <div class="col-lg-4 text-center">
												<p class="fs-sm fw-semibold mb-0">
													<span class="text-default">NN Balance</span>
												</p>
												<p class="text-muted mb-0">
													0.00
												</p>
											</div> -->
            </div>
          </div>
          <div
            class="block-content block-content-full block-content-sm text-center bg-body-light"
          >
            <span class="text-default">Concierge Fund</span>
          </div>
        </a>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <a
          class="block block-rounded block-link-shadow"
          href="javascript:void(0)"
        >
          <div
            class="block-content block-content-full ribbon ribbon-dark ribbon-modern ribbon-primary"
          >
            <div class="ribbon-box">0.00</div>
            <div class="row block-content">
              <div class="col-lg-1">
                <p class="fs-sm fw-semibold mb-0">
                  <span class="text-default"></span>
                </p>
                <p class="fs-sm fw-semibold mb-0">
                  <span class="text-default"></span>
                </p>
              </div>
              <div class="col-lg-1 text-center">
                <p class="fs-sm fw-semibold mb-0">
                  <span class="text-default">1</span>
                </p>
                <p class="text-muted mb-0">0.00</p>
              </div>
              <div class="col-lg-1 text-center">
                <p class="fs-sm fw-semibold mb-0">
                  <span class="text-default">5</span>
                </p>
                <p class="text-muted mb-0">0.00</p>
              </div>
              <div class="col-lg-1 text-center">
                <p class="fs-sm fw-semibold mb-0">
                  <span class="text-default">10</span>
                </p>
                <p class="text-muted mb-0">0.00</p>
              </div>
              <div class="col-lg-1 text-center">
                <p class="fs-sm fw-semibold mb-0">
                  <span class="text-default">20</span>
                </p>
                <p class="text-muted mb-0">0.00</p>
              </div>
              <div class="col-lg-1 text-center">
                <p class="fs-sm fw-semibold mb-0">
                  <span class="text-default">50</span>
                </p>
                <p class="text-muted mb-0">0.00</p>
              </div>
              <div class="col-lg-1 text-center">
                <p class="fs-sm fw-semibold mb-0">
                  <span class="text-default">100</span>
                </p>
                <p class="text-muted mb-0">0.00</p>
              </div>
              <div class="col-lg-1 text-center">
                <p class="fs-sm fw-semibold mb-0">
                  <span class="text-default">200</span>
                </p>
                <p class="text-muted mb-0">0.00</p>
              </div>
              <div class="col-lg-1 text-center">
                <p class="fs-sm fw-semibold mb-0">
                  <span class="text-default">500</span>
                </p>
                <p class="text-muted mb-0">0.00</p>
              </div>
              <div class="col-lg-1 text-center">
                <p class="fs-sm fw-semibold mb-0">
                  <span class="text-default">1000</span>
                </p>
                <p class="text-muted mb-0">0.00</p>
              </div>
              <div class="col-lg-1 text-center">
                <p class="fs-sm fw-semibold mb-0">
                  <span class="text-default"></span>
                </p>
                <p class="text-muted mb-0"></p>
              </div>
            </div>
          </div>
          <div
            class="block-content block-content-full block-content-sm text-center bg-body-light"
          >
            <span class="text-default">Cash Denominations</span>
          </div>
        </a>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <a
          class="block block-rounded block-link-shadow"
          href="javascript:void(0)"
        >
          <div
            class="block-content block-content-full ribbon ribbon-dark ribbon-modern ribbon-primary"
          >
            <div class="ribbon-box">0.00</div>
            <div class="row block-content">
              <div class="col-lg-2 text-center">
                <p class="fs-sm fw-semibold mb-0">
                  <span class="text-default">25</span>
                </p>
                <p class="text-muted mb-0">0.00</p>
              </div>
              <div class="col-lg-2 text-center">
                <p class="fs-sm fw-semibold mb-0">
                  <span class="text-default">100</span>
                </p>
                <p class="text-muted mb-0">0.00</p>
              </div>
              <div class="col-lg-2 text-center">
                <p class="fs-sm fw-semibold mb-0">
                  <span class="text-default">1,000</span>
                </p>
                <p class="text-muted mb-0">0.00</p>
              </div>
              <div class="col-lg-2 text-center">
                <p class="fs-sm fw-semibold mb-0">
                  <span class="text-default">10,000</span>
                </p>
                <p class="text-muted mb-0">0.00</p>
              </div>
              <div class="col-lg-2 text-center">
                <p class="fs-sm fw-semibold mb-0">
                  <span class="text-default">100,000</span>
                </p>
                <p class="text-muted mb-0">0.00</p>
              </div>
              <div class="col-lg-2 text-center">
                <p class="fs-sm fw-semibold mb-0">
                  <span class="text-default">1,000,000</span>
                </p>
                <p class="text-muted mb-0">0.00</p>
              </div>

              <div class="col-lg-2 text-center">
                <p class="fs-sm fw-semibold mb-0">
                  <span class="text-default"></span>
                </p>
                <p class="text-muted mb-0"></p>
              </div>
            </div>
          </div>
          <div
            class="block-content block-content-full block-content-sm text-center bg-body-light"
          >
            <span class="text-default">Cash Chip</span>
          </div>
        </a>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <a
          class="block block-rounded block-link-shadow"
          href="javascript:void(0)"
        >
          <div
            class="block-content block-content-full ribbon ribbon-dark ribbon-modern ribbon-primary"
          >
            <div class="ribbon-box">0.00</div>
            <div class="row block-content">
              <div class="col-lg-3 text-center">
                <p class="fs-sm fw-semibold mb-0">
                  <span class="text-default">1,000</span>
                </p>
                <p class="text-muted mb-0">0.00</p>
              </div>
              <div class="col-lg-3 text-center">
                <p class="fs-sm fw-semibold mb-0">
                  <span class="text-default">10,000</span>
                </p>
                <p class="text-muted mb-0">0.00</p>
              </div>
              <div class="col-lg-3 text-center">
                <p class="fs-sm fw-semibold mb-0">
                  <span class="text-default">100,000</span>
                </p>
                <p class="text-muted mb-0">0.00</p>
              </div>
              <div class="col-lg-3 text-center">
                <p class="fs-sm fw-semibold mb-0">
                  <span class="text-default">1,000,000</span>
                </p>
                <p class="text-muted mb-0">0.00</p>
              </div>
            </div>
          </div>
          <div
            class="block-content block-content-full block-content-sm text-center bg-body-light"
          >
            <span class="text-default">Non Negotiable Chip</span>
          </div>
        </a>
      </div>
    </div>
  </div>
  <!-- END Page Content -->
</main>
<!-- END Main Container -->

<%- include ('partial/footer'); -%>
