<div class="modal fade" id="modal-show-history" tabindex="-1" role="dialog" aria-labelledby="modal-default-popout"
	aria-hidden="true" data-keyboard="false" data-bs-backdrop="static">
	<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
		<div class="modal-content">
			<div class="block block-rounded block-themed block-transparent mb-0">
				<div class="block-header bg-primary-dark">
					<h3 class="block-title">History</h3>
					<div class="block-options">
						<button type="button" class="btn-block-option" data-bs-dismiss="modal" aria-label="Close">
							<i class="fa fa-fw fa-times"></i>
						</button>
					</div>
				</div>
					<div class="block-content">

						<table id="game_record-tbl" class="table table-bordered table-vcenter js-dataTable-responsive">
							<thead>
								<tr>
									<th class="d-none d-sm-table-cell">DATE</th>
									<th class="d-none d-sm-table-cell">BUY IN</th>
									<th class="d-none d-sm-table-cell">CASH OUT</th>
									<th class="d-none d-sm-table-cell">ROLLING</th>
									<th class="text-center" style="width: 100px;">ACTION</th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>

					</div>
					<div class="block-content block-content-full text-end bg-body">
						
						<button type="button" class="btn btn-sm btn-alt-secondary" data-bs-dismiss="modal">
							Close
						</button>
					</div>
			</div>
		</div>
	</div>
</div>