<%- include ('../partial/header') -%>

	<!-- Main Container -->
	<main id="main-container">
		<!-- <div class="bg-body-light">
          <div class="content content-full" >
            <div class="d-flex flex-column flex-sm-row justify-content-sm-between align-items-sm-center">
              <h1 class="flex-grow-1 fs-6 fw-normal my-3 my-sm-3">Agency</h1>
              <nav class="flex-shrink-0 my-2 my-sm-0 ms-sm-3" aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item flex-grow-1 fs-6 fw-normal my-3 my-sm-3">Accounts</li>
                  <li class="breadcrumb-item active flex-grow-1 fs-6 fw-normal my-3 my-sm-3"" aria-current="page">Agency</li>
                </ol>
              </nav>
            </div>
          </div>
        </div>         -->
		<!-- Page Content -->
		<div class="content">
			<!-- Dynamic Table Responsive -->
			<div class="block block-rounded">
				<div class="block-header block-header-default">
					<h3 class="block-title">
						<small>Accounts / Agency</small>
					</h3>
					<nav class="flex-shrink-0 my-2 my-sm-0 ms-sm-3" aria-label="breadcrumb">
						<ol class="breadcrumb">
							<button type="button" class="btn btn-primary" data-bs-toggle="modal"
								data-bs-target="#modal-new-agency">
								<i class="fa fa-plus" aria-hidden="true"></i> New Record
							</button>
						</ol>
					</nav>
				</div>
				<div class="block-content block-content-full">
					<!-- DataTables init on table by adding .js-dataTable-responsive class, functionality is initialized in js/pages/be_tables_datatables.min.js which was auto compiled from _js/pages/be_tables_datatables.js -->
					<table id="#dataTable" class="table table-bordered table-vcenter js-dataTable-responsive">
						<thead>
							<tr>
								<th class="d-none d-sm-table-cell">CODE</th>
								<th class="d-none d-sm-table-cell">AGENCY</th>
								<th class="text-center" style="width: 150px">STATUS</th>
								<th class="text-center" style="width: 100px">ACTION</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="fw-normal">Dhomas Riley</td>
								<td class="d-none d-sm-table-cell">
									client1<em class="text-muted">@example.com</em>
								</td>
								<td class="d-none d-md-table-cell text-center">
									<span class="badge bg-info">Active</span>
								</td>
								<td class="d-none d-sm-table-cell text-center">
									<div class="btn-group">

										<div class="dropdown">
											<button type="button" class="btn btn-sm btn-alt-secondary js-bs-tooltip-enabled" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-ellipsis-vertical"></i>
											</button>
											<div class="dropdown-menu dropdown-menu-end" style="">
												<a class="dropdown-item" href="javascript:void(0)">Details</a>
												<a class="dropdown-item" href="javascript:void(0)"> Archive</a>
												<div role="separator" class="dropdown-divider"></div>
												<a class="dropdown-item" href="javascript:void(0)">Delete</a>
											</div>
										</div>
										<button type="button" class="btn btn-sm btn-alt-secondary js-bs-tooltip-enabled"
											data-bs-toggle="tooltip" aria-label="Edit" data-bs-original-title="Edit">
											<i class="fa fa-pencil-alt"></i>
										</button>

									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<!-- Dynamic Table Responsive -->
		</div>
		<!-- END Page Content -->
	</main>
	<!-- END Main Container -->

<%- include ('../modals/accounts/new_agency'); -%> 

<%- include ('../partial/footer'); -%>

<script src="assets/js/datatables/agency_tables_datatables.min.js"></script>

<%- include ('../partial/ending'); -%>