/* SELECT2 Stylesheet */

.select2-selection__rendered {
	line-height: 31px !important;
}

.select2-container .select2-selection--single {
	height: 38px !important;
	color: aliceblue !important;
}

.select2-selection__arrow {
	height: 34px !important;
}

#game_list-tbl1_wrapper .row.dt-row .col-sm-12 {
	overflow: auto;
}