<div class="modal fade" id="modal-new_user" role="dialog" aria-labelledby="modal-default-popout" aria-hidden="true"
	data-keyboard="false" data-backdrop="static">
	<div class="modal-dialog modal-dialog-popout" role="document">
		<div class="modal-content">
			<div class="block block-rounded block-themed block-transparent mb-0">
				<div class="block-header bg-primary-dark">
					<h3 class="block-title">New Account</h3>
					<div class="block-options">
						<button type="button" class="btn-block-option" data-bs-dismiss="modal" aria-label="Close">
							<i class="fa fa-fw fa-times"></i>
						</button>
					</div>
				</div>
				<form id="add_new_user">
					<div class="block-content">
						<div class="row mb-2">
							<div class="col-sm-12">
								<input type="text" class="form-control" name="txtFirstName" placeholder="First Name">
							</div>
						</div>
						<div class="row mb-2">
							<div class="col-sm-12">
								<input type="text" class="form-control" name="txtLastName" placeholder="Last Name">
							</div>
						</div>
						<div class="row mb-2">
							<div class="col-sm-12">
								<input type="text" class="form-control" name="txtUserName" placeholder="Username">
							</div>
						</div>
						<div class="row mb-2">
							<div class="col-sm-12">
								<input type="password" class="form-control" name="txtPassword" placeholder="Password" id="password">
							</div>
						</div>
						<div class="row mb-2">
							<div class="col-sm-12">
								<input type="password" class="form-control" name="txtPassword2" placeholder="Confirm Password"
									id="confirm_password">
							</div>
						</div>
						<div class="mb-3">
							<select class="js-select2 form-select" id="user_role" name="user_role" style="width: 100%;"
								data-placeholder="Choose one..">
								<option></option>

							</select>
						</div>
					</div>
					<div class="block-content block-content-full text-end bg-body">
						<button type="submit" class="btn btn-sm btn-primary" data-bs-dismiss="modal">Save</button>
						<button type="button" class="btn btn-sm btn-alt-secondary" data-bs-dismiss="modal">Close</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>