<div class="modal fade" id="modal-account-details" tabindex="-1" role="dialog" aria-labelledby="modal-default-popout" aria-hidden="true"
    data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-xl modal-dialog-popout" role="document">
        <div class="modal-content">
            <div class="block block-rounded block-themed block-transparent mb-0">
                <div class="block-header bg-primary-dark">
                    <h3 class="block-title">Account Details - <span  id="account_name" ></span></h3>
                    <div class="block-options">
                        <button type="button" class="btn-block-option" data-bs-dismiss="modal" aria-label="Close">
                            <i class="fa fa-fw fa-times"></i>
                        </button>
                    </div>
                </div>
                <div class="block-content">                   
                    <div class="row mb-2">
                        <div class="col-sm-12">
                            <table id="#dataTable" class="table table-bordered table-vcenter">
                                <thead>
                                  <tr>
                                    <th class="text-center" style="width: 150px;">TOTAL DEPOSIT</th>
                                    <th class="text-center" style="width: 150px;">TOTAL WITHDRAW</th>
                                    <th class="text-center" style="width: 150px;">TOTAL BALANCE</th>    
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td class="fw-bold text-end"><span class="total_deposit"></span></td>
                                    <td class="fw-bold text-end"><span class="total_withdraw"></span></td>
                                    <td class="fw-bold text-end"><span class="total_balance"></span></td>             
                                  </tr>       
                                </tbody>
                            </table>
                        </div>                                            
                    </div> 

                    <div class="row mb-2">
                        <div class="col-sm-12">
                            <button class="btn btn-primary mb-4" onclick="add_account_details()">Add Transaction</button>
                            <button class="btn btn-info  mb-4" onclick="transfer_account()">Transfer Account</button>
                            <input type="hidden" id="account_id">
                            <table id="accountDetails" class="table table-bordered table-vcenter js-dataTable-responsive">
                                <thead>
                                    <tr>
                                        <th class="text-center" style="width: 150px;">TRANSACTION</th>
                                        <th class="text-center" style="width: 150px;">AMOUNT</th>
                                        <th class="text-center" style="width: 100px;">ACTION</th>       
                                      </tr>
                                </thead>
                                <tbody>
                              
                                </tbody>
                              </table>
                        </div>                        
                    </div>
                </div>
                <div class="block-content block-content-full text-end bg-body">
                    <button type="button" class="btn btn-sm btn-alt-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

