<div class="modal fade" id="modal-account-details" tabindex="-1" role="dialog" aria-labelledby="modal-default-popout"
	aria-hidden="true" data-keyboard="false" data-bs-backdrop="static">
	<div class="modal-dialog modal-lg modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="block block-rounded block-themed block-transparent mb-0">
				<div class="block-header bg-primary-dark">
					<h3 class="block-title">Account Details - <span id="account_name"></span></h3>
					<div class="block-options">
						<button type="button" class="btn-block-option" data-bs-dismiss="modal" aria-label="Close">
							<i class="fa fa-fw fa-times"></i>
						</button>
					</div>
				</div>
				<div class="block-content">
					<div class="row mb-2">
						<div class="col-sm-12">
							<table id="#dataTable" class="table table-bordered table-vcenter">
								<thead>
									<tr>
										<th class="text-center" style="width: 150px;">TOTAL DEPOSIT</th>
										<th class="text-center" style="width: 150px;">TOTAL WITHDRAW</th>
										<th class="text-center" style="width: 150px;">TOTAL BALANCE</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td class="fw-bold text-end"><span class="total_deposit"></span></td>
										<td class="fw-bold text-end"><span class="total_withdraw"></span></td>
										<td class="fw-bold text-end"><span class="total_balance"></span></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<hr style="border: 1px solid">
					<div class="row mb-2">
						<div class="col-sm-12">
							<form id="add_new_account_details">
								<input type="hidden" id="account_id_add" name="txtAccountId">
									<div class="row mb-3">
										<!-- <select class="js-select2 form-select" id="txtTrans" name="txtTrans" style="width: 100%;"
											data-placeholder="Choose Transaction...">
											<option></option>
										</select> -->
										<div class="row mb-2">
											<div class="col-sm-3">
												<div class="form-check form-block">
													<input class="form-check-input" type="radio" value="1" id="cash_trans" name="txtTrans">
													<label class="form-check-label" for="cash_trans">
														<span class="d-flex align-items-center">
															Deposit
														</span>
													</label>
												</div>
											</div>
											<div class="col-sm-3">
												<div class="form-check form-block">
													<input class="form-check-input" type="radio" value="2" id="deposit_trans" name="txtTrans">
													<label class="form-check-label" for="deposit_trans">
														<span class="d-flex align-items-center">
															Withdraw
														</span>
													</label>
												</div>
											</div>
											<div class="col-sm-3">
												<div class="form-check form-block">
													<input class="form-check-input" type="radio" value="3" id="issue_trans" name="txtTrans">
													<label class="form-check-label" for="issue_trans">
														<span class="d-flex align-items-center">
															Marker Issue
														</span>
													</label>
												</div>
											</div>
											<div class="col-sm-3">
												<div class="form-check form-block">
													<input class="form-check-input" type="radio" value="4" id="m_deposit_trans" name="txtTrans">
													<label class="form-check-label" for="m_deposit_trans">
														<span class="d-flex align-items-center">
															Marker Deposit
														</span>
													</label>
												</div>
											</div>
										</div>
									</div>
			
									<div class="row mb-2">
										<div class="col-sm-6">
											<input type="text" onkeypress="return onlyNumberKey(event)" data-type="number" class="form-control txtAmount" name="txtAmount" placeholder="Amount">
										</div>
										<div class="col-sm-6">
											<textarea name="txtRemarks" class="form-control remarks" placeholder="Remarks"></textarea>
										</div>
									</div>
			
									<div class="row mb-2">
										<div class="col-sm-9">

										</div>
										<div class="col-sm-3 " style="text-align: right;">
											<button type="submit" class="btn btn-sm btn-primary">ADD</button>
										</div>
									</div>
							</form>
						</div>
					</div>
					<hr style="border: 1px solid">
					<div class="row mb-2">
						<div class="col-sm-12">
							<!-- <button class="btn btn-primary mb-4" onclick="add_account_details()">Add Transaction</button> -->
							<button class="btn btn-info  mb-4" onclick="transfer_account()">Transfer Account</button>
							<button class="btn btn-success mb-4" onclick="export_data()">Export</button>
							<input type="hidden" id="account_id">
							<table id="accountDetails" class="table table-bordered table-vcenter js-dataTable-responsive">
								<thead>
									<tr>
										<th class="text-center" style="width: 150px;">DATE</th>
										<th class="text-center" style="width: 150px;">TRANSACTION</th>
										<th class="text-center" style="width: 150px;">AMOUNT</th>
										<th class="text-center" style="width: 150px;">REMARKS</th>
									</tr>
								</thead>
								<tbody>

								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div class="block-content block-content-full text-end bg-body">
					<button type="button" class="btn btn-sm btn-alt-secondary" data-bs-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
</div>