<div class="modal fade" id="modal-new-agent" role="dialog" aria-labelledby="modal-default-popout" aria-hidden="true"
	data-keyboard="false" data-bs-backdrop="static">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="block block-rounded block-themed block-transparent mb-0">
				<div class="block-header bg-primary-dark">
					<h3 class="block-title">New Agent</h3>
					<div class="block-options">
						<button type="button" class="btn-block-option" data-bs-dismiss="modal" aria-label="Close">
							<i class="fa fa-fw fa-times"></i>
						</button>
					</div>
				</div>
				<form id="add_new_agent">
					<div class="block-content">
						<div class="row mb-2">
							<div class="col-sm-12">
								<select class="js-select2 form-control" id="agency" name="txtAgencyLine" style="width: 100%;"
									data-placeholder="Agency Line">
								</select>
							</div>
						</div>

						<div class="row mb-2">
							<div class="col-sm-12">
								<input type="text" class="form-control" name="txtAgenctCode" placeholder="Account No." />
							</div>
						</div>

						<div class="row mb-2">
							<div class="col-sm-12">
								<input type="text" class="form-control" name="txtName" placeholder="Name" id="name" />
							</div>
						</div>

						<!-- <div class="row mb-2">
							<div class="col-sm-12">
								<input type="text" class="form-control" name="txtFirstname" placeholder="First Name" />
							</div>
						</div>

						<div class="row mb-2">
							<div class="col-sm-12">
								<input type="text" class="form-control" name="txtMiddleName" placeholder="Middle Name" />
							</div>
						</div>

						<div class="row mb-2">
							<div class="col-sm-12">
								<input type="text" class="form-control" name="txtLastname" placeholder="Last Name" />
							</div>
						</div> -->

						<div class="row mb-2">
							<div class="col-sm-12">
								<input type="text" class="form-control" name="txtContact" placeholder="Contact Number" />
							</div>
						</div>

						<div class="row mb-2">
							<div class="col-sm-12">
								<textarea name="txtRemarks" class="form-control remarks" placeholder="Remarks"></textarea>
							</div>
						</div>

					</div>
					<div class="block-content block-content-full text-end bg-body">
						<button type="submit" class="btn btn-sm btn-primary" data-bs-dismiss="modal">
							Save
						</button>
						<button type="button" class="btn btn-sm btn-alt-secondary" data-bs-dismiss="modal">
							Close
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>