<div class="modal fade" id="modal-transfer_account" tabindex="-1" role="dialog" aria-labelledby="modal-default-popout"
	aria-hidden="true" data-keyboard="false" data-bs-backdrop="static">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="block block-rounded block-themed block-transparent mb-0">
				<div class="block-header bg-primary-dark">
					<h3 class="block-title">Transfer Account</h3>
					<div class="block-options">
						<button type="button" class="btn-block-option" data-bs-dismiss="modal" aria-label="Close">
							<i class="fa fa-fw fa-times"></i>
						</button>
					</div>
				</div>
				<form id="add_transfer_account">
					<input type="hidden" id="account_id_add_trans" name="txtAccountId">
					<div class="block-content">
						<div class="mb-3">
							<select class="js-select2 form-select" id="txtAccount" name="txtAccount" style="width: 100%;"
								data-placeholder="Choose an Account..." required>
								<option></option>
							</select>
						</div>
						<div class="row mb-2">
							<div class="col-sm-12">
								<input type="text" onkeypress="return onlyNumberKey(event)" data-type="number"
									class="form-control txtAmount" name="txtAmount" placeholder="Amount" required>
							</div>
						</div>
					</div>
					<div class="block-content block-content-full text-end bg-body">
						<button type="submit" class="btn btn-sm btn-primary">Save</button>
						<button type="button" class="btn btn-sm btn-alt-secondary" data-bs-dismiss="modal">Close</button>
					</div>
			</div>
			</form>
		</div>
	</div>
</div>
</div>