<div class="modal fade" id="modal-edit-house-expense" role="dialog" aria-labelledby="modal-default-popout"
    aria-hidden="true" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-dialog-popout" role="document">
        <div class="modal-content">
            <div class="block block-rounded block-themed block-transparent mb-0">
                <div class="block-header bg-primary-dark">
                    <h3 class="block-title">Edit House Expense</h3>
                    <div class="block-options">
                        <button type="button" class="btn-block-option" data-bs-dismiss="modal" aria-label="Close">
                            <i class="fa fa-fw fa-times"></i>
                        </button>
                    </div>
                </div>
                <form id="edit_junket_house_expense">
                    <div class="block-content">
                        <div class="row mb-2">
                            <div class="col-sm-12">
                                <select class="select2 form-select txtCategory" id="txtCategory" name="txtCategory" style="width: 100%;"
                                    data-placeholder="Category">
                                    <option>--- Category ---</option>
                                </select>
                            </div>
                        </div>

                        <div class="row mb-2">
                            <div class="col-sm-12">
                                <input type="text" class="form-control" name="txtReceiptNo" id="txtReceiptNo" placeholder="Receipt No" />
                            </div>
                        </div>

                        <div class="row mb-2">
                            <div class="col-sm-12">
                                <!-- <input type="text" class="js-datepicker form-control js-datepicker-enabled"
                                    id="example-datepicker1" name="txtDateandTime" data-week-start="1"
                                    data-autoclose="true" data-today-highlight="true"
                                    data-date-format="mm/dd/yyyy hh:nn" placeholder="Date and Time"> -->

                                    <input type="date" name="txtDateandTime" id="txtDateandTime" placeholder="Date and Time" class="form-control">
                            </div>
                        </div>

                        <div class="row mb-2">
                            <div class="col-sm-12">
                                <input type="text" class="form-control" name="txtDescription" id="txtDescription"
                                    placeholder="Description" />
                            </div>
                        </div>

                        <div class="row mb-2">
                            <div class="col-sm-12">
                                <input type="text" class="form-control" name="txtAmount" id="txtAmount" placeholder="Amount" />
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-sm-12">
                                <select class="select2 form-select txtOfficerInCharge" id="txtOfficerInCharge" name="txtOfficerInCharge"
                                    style="width: 100%;" data-placeholder="Category">
                                    <option>--- Officer In Charge ---</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="block-content block-content-full text-end bg-body">
                        <button type="submit" class="btn btn-sm btn-primary" data-bs-dismiss="modal">
                            Save
                        </button>
                        <button type="button" class="btn btn-sm btn-alt-secondary" data-bs-dismiss="modal">
                            Close
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>