<div class="modal fade" id="modal-new-capital" role="dialog" aria-labelledby="modal-default-popout" aria-hidden="true"
	data-keyboard="false" data-bs-backdrop="static">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="block block-rounded block-themed block-transparent mb-0">
				<div class="block-header bg-primary-dark">
					<h3 class="block-title">Cash</h3>
					<div class="block-options">
						<button type="button" class="btn-block-option" data-bs-dismiss="modal" aria-label="Close">
							<i class="fa fa-fw fa-times"></i>
						</button>
					</div>
				</div>
				<form id="add_junket_capital">
					<div class="block-content">

						<div class="row mb-2">
							<div class="col-sm-12">
								<input type="text" class="form-control" name="txtFullname" placeholder="Full Name" required />
							</div>
						</div>

						<div class="row mb-2">
							<div class="col-sm-12">
								<input type="text" class="form-control" name="txtAmount" placeholder="Amount"
									onkeypress="return onlyNumberKey(event)" data-type="number" required />
							</div>
						</div>

						<div class=" row mb-2">
							<div class="col-sm-12">
								<textarea class="form-control" name="Remarks" placeholder="Remarks" cols="10" rows="2"></textarea>
							</div>
						</div>
						<div class="row mb-2">
							<div class="col-sm-6">
								<div class="form-check">
									<input class="form-check-input" type="radio" id="deposit" name="optWithdrawDeposit" value="1"
										checked="">
									<label class="form-check-label" for="deposit">Deposit</label>
								</div>
							</div>

							<div class=" col-sm-6">
								<div class="form-check">
									<input class="form-check-input" type="radio" id="withdraw" name="optWithdrawDeposit" value="2">
									<label class="form-check-label" for="withdraw">Withdraw</label>
								</div>
							</div>

						</div>

					</div>
					<div class="block-content block-content-full text-end bg-body">
						<button type="submit" class="btn btn-sm btn-primary"">
							Save
						</button>
						<button type=" button" class="btn btn-sm btn-alt-secondary" data-bs-dismiss="modal">
							Close
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>