<!-- ============================================ -->
<!-- EDIT EMPLOYEE MODAL -->
<!-- File: views/modals/employee/edit_employee.ejs -->
<!-- Description: Modal form for editing existing employee -->
<!-- ============================================ -->

<div class="modal fade" id="modal-edit_employee" role="dialog" aria-labelledby="modal-default-popout" aria-hidden="true"
	data-keyboard="false" data-bs-backdrop="static">
	<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
		<div class="modal-content">


			<div class="modal-header bg-primary">

				<h5 class="block-title text-white">Edit Employee</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>


			<div class="modal-body">
				<form id="edit_employee">
					<input type="hidden" name="IDNo" id="edit_employee_id">
					
					<!-- Personal Information Section -->
					<div class="mb-4">
						<h6 class="mb-3 text-primary border-bottom pb-2">
							<i class="fa fa-user me-2"></i>Personal Information
						</h6>
						
						<div class="row mb-2">
							<div class="col-sm-6">
								<label class="form-label">First Name <span class="text-danger">*</span></label>
								<input type="text" class="form-control" name="FIRSTNAME" id="edit_employee_firstname" placeholder="Enter first name" required>
							</div>
							<div class="col-sm-6">
								<label class="form-label">Last Name <span class="text-danger">*</span></label>
								<input type="text" class="form-control" name="LASTNAME" id="edit_employee_lastname" placeholder="Enter last name" required>
							</div>
						</div>
						<div class="row mb-2">
							<div class="col-sm-6">
								<label class="form-label">Contact Number</label>
								<input type="text" class="form-control" name="CONTACTNo" id="edit_employee_contact" placeholder="Enter contact number">
							</div>
							<div class="col-sm-6">
								<label class="form-label">Department</label>
								<select class="form-control" name="DEPARTMENT" id="edit_employee_department">
									<option value="">Select Department</option>
									<% if (typeof departments !== 'undefined' && departments) { %>
										<% departments.forEach(function(dept) { %>
											<option value="<%= dept %>"><%= dept %></option>
										<% }); %>
									<% } %>
								</select>
							</div>
						</div>
						<div class="row mb-2">
							<div class="col-sm-12">
								<label class="form-label">Address</label>
								<textarea class="form-control" name="ADDRESS" id="edit_employee_address" placeholder="Enter address" rows="2"></textarea>
							</div>
						</div>
						<div class="row mb-2">
							<div class="col-sm-6">
								<label class="form-label">Date Started</label>
								<input type="date" class="form-control" name="DATE_STARTED" id="edit_employee_date_started">
							</div>
							<div class="col-sm-6">
								<label class="form-label">Salary</label>
								<input type="text" class="form-control" name="SALARY" id="edit_employee_salary" placeholder="Enter salary" oninput="formatSalary(this)">
							</div>
						</div>
						<div class="row mb-2">
							<div class="col-sm-6">
								<label class="form-label">Status</label>
								<select class="form-control" name="STATUS" id="edit_employee_status">
									<option value="1">Active</option>
									<option value="0">Inactive</option>
								</select>
							</div>
						</div>
						<div class="row mb-2">
							<div class="col-sm-6">
								<label class="form-label">Emergency Contact Name</label>
								<input type="text" class="form-control" name="EMERGENCY_CONTACT_NAME" id="edit_employee_emergency_name" placeholder="Enter emergency contact name">
							</div>
							<div class="col-sm-6">
								<label class="form-label">Emergency Contact Phone</label>
								<input type="text" class="form-control" name="EMERGENCY_CONTACT_PHONE" id="edit_employee_emergency_phone" placeholder="Enter emergency contact phone">
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="submit" class="btn btn-sm btn-primary">Update</button>
						<button type="button" class="btn btn-sm btn-alt-secondary" data-bs-dismiss="modal">Close</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

