<!-- ============================================ -->
<!-- VIEW EMPLOYEE DETAILS MODAL -->
<!-- File: views/modals/employee/view_employee.ejs -->
<!-- Description: Modal for viewing employee details -->
<!-- ============================================ -->

<div class="modal fade" id="modal-view_employee" role="dialog" aria-labelledby="modal-default-popout" aria-hidden="true"
	data-keyboard="false" data-bs-backdrop="static">
	<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
		<div class="modal-content">

			<div class="modal-header bg-primary">
				<h5 class="block-title text-white">Employee Details</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>

			<div class="modal-body">
				<!-- Personal Information Section -->
				<div class="mb-4">
					<h6 class="mb-3 text-primary border-bottom pb-2">
						<i class="fa fa-user me-2"></i>Personal Information
					</h6>
					
					<div class="row mb-2">
						<div class="col-sm-6">
							<label class="form-label">First Name</label>
							<input type="text" class="form-control" id="view_employee_firstname" readonly>
						</div>
						<div class="col-sm-6">
							<label class="form-label">Last Name</label>
							<input type="text" class="form-control" id="view_employee_lastname" readonly>
						</div>
					</div>
					<div class="row mb-2">
						<div class="col-sm-6">
							<label class="form-label">Contact Number</label>
							<input type="text" class="form-control" id="view_employee_contact" readonly>
						</div>
						<div class="col-sm-6">
							<label class="form-label">Department</label>
							<input type="text" class="form-control" id="view_employee_department" readonly>
						</div>
					</div>
					<div class="row mb-2">
						<div class="col-sm-12">
							<label class="form-label">Address</label>
							<textarea class="form-control" id="view_employee_address" rows="2" readonly></textarea>
						</div>
					</div>
					<div class="row mb-2">
						<div class="col-sm-6">
							<label class="form-label">Date Started</label>
							<input type="text" class="form-control" id="view_employee_date_started" readonly>
						</div>
						<div class="col-sm-6">
							<label class="form-label">Salary</label>
							<input type="text" class="form-control" id="view_employee_salary" readonly>
						</div>
					</div>
					<div class="row mb-2">
						<div class="col-sm-6">
							<label class="form-label">Branch</label>
							<input type="text" class="form-control" id="view_employee_branch" readonly>
						</div>
						<div class="col-sm-6">
							<label class="form-label">Emergency Contact Name</label>
							<input type="text" class="form-control" id="view_employee_emergency_name" readonly>
						</div>
					</div>
					<div class="row mb-2">
						<div class="col-sm-6">
							<label class="form-label">Emergency Contact Phone</label>
							<input type="text" class="form-control" id="view_employee_emergency_phone" readonly>
						</div>
					</div>
				</div>
			</div>

			<div class="modal-footer">
				<button type="button" class="btn btn-sm btn-alt-secondary" data-bs-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
